*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    }
                    
    .body {
    height: 100%;
    width: 100%;
    
    margin: 0;
    padding: 10px;
    background: linear-gradient(360deg, #eeb6a7, #4e1b02);
    transition: all;
    overflow-x:hidden;
    
    }
    
    
    /* Header style*/
    #header{
    position: sticky;
    margin-bottom: 10px;
    }
    #logo{
        height: 150px;
    }
    #logo:hover{
    cursor: pointer;
    }
    .headertext{
        font-weight: 750;
        text-align: left;
        position:absolute;
        font-family:Arial, Helvetica, sans-serif;
        font-style: normal;
        margin-top: 90px;
        padding-left: 10px;
        font-size: 25px;
        
    
    }
    #logo-container{
    
    max-width: 100%;
    
    }
    
    /* Hamburger menu bar */
    .navbar {
    
    overflow:auto;
    float:right ;
    margin-top: 100px;
    
    
    }
    
    .navbar a {
    float:left;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    
    
    
    .navbar a:hover{
    background-color: #ddd;
    color: black;
    }
    
    
    
    /* Slideshow container*/
    .slideshow-container {
    max-width: 100%;
    width: 100%;
    position: relative;
    margin: 10px;
    max-height:auto;
    display: flex;
    }
    
    .slide {
    display:none;
    position: relative;
    width: 100%;
    height: 500px;
    
    justify-content: center;
    
    }
    
    .slide img {
    width : 800px;
    height: 100%;    
    
    }
    
    .slide-text {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    }
    
    .dot-container {
    text-align: center;
    margin-top: 10px;
    }
    
    .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    }
    
    .active-dot {
    background-color: #717171;
    }
    
    
    /*Style for news and events section*/
    
    #events-container{
    
    margin-top: 10px;
    max-width: 100%;
    max-height: auto;
    display:flex;
    width: 100%;
    }
    #list-container{
    display: flex;
    
    width: 30%;
    }
    #list-container h1{
    
        max-height: 10%;
    }
    .list{
        height: 600px;
        padding-top: 10px;
        overflow-y: scroll;
    }
    .list li{
    
        height: auto;
        padding-left: 10px;
        padding-top: 35px;
    }
    
    
    /*news-section*/
    .carousel-container {
        position: relative;
        max-width: 70%;
        margin: 0 15px;
        overflow: hidden;
        float: center;
    }
    
    .carousel-wrapper {
        display: flex;
        width: 100%;
        transition: transform 0.5s ease-in-out;
    }
    
    .carousel-slide {
        width: 1000px;
        position: relative;
        overflow: hidden;
        height: 100%;
    }
    
    .carousel-slide img {
        width: 100%;
        height: 600px;
    }
    
    .slide-caption {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 5px;
        text-align: center;
    }
    
    .carousel-dots {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    
    .carousel-dot {
        height: 10px;
        width: 10px;
        background-color: gray;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
    }
    
    .carousel-dot.active {
        background-color: black;
    }
    
    
    /*achievement-section*/
    
    .achievement-container {
        position: relative;
        max-width: 100%;
        margin: 5px;
        overflow: hidden;
        margin-top: 10px;
        float:right;
        width: 100%;
        height:auto ;
    }
    
    .achievement-wrapper {
        display: flex;
        width: 100%;
        transition: transform 0.5s ease-in-out;
    }
    
    .achievement-slide {
        width: 100%;
        position: relative;
        overflow: hidden;
        height: 100%;
    }
    
    .achievement-slide img {
        width:100%;
        height: 700px;
        
    }
    
    .achievement-caption {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        background-color: rgba(218, 20, 20, 0.7);
        color: white;
        padding: 50px;
        text-align: center;
    }
    
    .achievement-dots {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    
    .achievement-dot {
        height: 10px;
        width: 10px;
        background-color: gray;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
    }
    
    .achievement-dot.active {
        background-color: black;
    }
    